.city {
  max-width: 45%;
  border-radius: 45px;
  max-height: 35%;
  margin-bottom: 30px;
}
.lighthouse {
  max-width: 20%;
}

.skillsC {
  color: #9a9a9a;
  font-size: 24px;
  margin-top: -15px;
}

.projectsC {
  padding: 35px 85px;
  padding-bottom: 65px;
}

