.city {
  max-width: 30%;
  border-radius: 45px;
  max-height: 25%;
}
.lighthouse {
  max-width: 20%;
}

.skillsC {
  padding: 6px 6px;
  color: #9a9a9a;
  font-size: 24px;
}

.projectsC {
  padding: 35px 75px;
  padding-bottom: 65px;
}

