
.main {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 800px;
  position: absolute;
  top: 10%;
  right: 2%;
  background-image: linear-gradient(#4a4a4a, #282c34, #0c0d0e);
  border-radius: 30px;
  padding: 0;
  line-height: 1;
  text-align: center;
  box-shadow: 0px 1px 13px black, 3px 3px 5px rgb(18 18 19 / 29%);
}

.skills {
  padding: 36px 36px;
  color: grey;
  p {
    padding-top: 20px;
    font-size: 28px;
    color: white;
  }
}

.projects {
  :hover {
    box-shadow: inset -3px -3px 7px black, inset 3px 3px 5px rgba(18, 18, 19, 0.288);
  }
  display: flex;
  overflow-x: auto;
  p {
    font-size: 15px;
    margin-top: -19px;
  }
  img {
    max-width: 75%;
    max-height: 85%;
  }
}

.subtitle {
  color: #9a9a9a;
}

