.main {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 890px;
  position: absolute;
  top: 3%;
  right: 2%;
  background-image: linear-gradient(#1c1841,  #110d2b);
  border-radius: 30px;
  padding-top: 100px !important;
  line-height: 1;
  text-align: center;
  box-shadow: 0px 1px 13px black, 3px 3px 5px rgb(18 18 19 / 29%);
  .name {
    margin-top: -100px;
  }
}


.skills {
  padding: 6px 16px;
  color: #9a9a9a;
  font-size: 20px;
  p {
    padding-top: 20px;
    color: white;
    font-size: 1em;
  }
}

.projects {
  padding: 35px 75px;
}

.subtitle {
  color: #9a9a9a;
}

.art {
  background-image: linear-gradient(#353535, #282c34, #171718);
}

.paper {
  background-color: white;
}

@media screen and (max-width: 1025px) { 

  .main {
    height: 700px;
  }
  .name {
    font-size: 35px;
  }

 
}

@media screen and (max-width: 1243px) { 

  .main {
    height: 800px;
  }
 
}


@media screen and (max-width: 566px) { 
  .main {
    left: 8px;
    right: 5px;
    bottom: 30px;
    width: 400px;
    margin-top: 450px;
    height: 1040px;
  }
  .subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) { 
  .main {
    left: 8px;
    right: 5px;
    bottom: 30px;
    width: 360px;
    margin-top: 450px;
    height: 1040px;
  }
  .subtitle {
    font-size: 20px;
  }
}


@media screen and (max-width: 360px) { 
  .main {
    height: 1040px;
  }
}

@media screen and (max-width: 230px) { 
  .main {
    height: 1200px;
  }
}